# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19UWUN6T1p4T3FIOEtKVTZ2ODIwZXQiLCJhcGlfa2V5IjoiMDFLR0ozRkdOUEZSNEREQzdKM1ZIMDZEUVAiLCJ0ZW5hbnRfaWQiOiIxY2FjZTcyNGU2MjhlMDQwNjA2OTQ0MWRjMGRlOGMxMjU5ZTQwNjQ4NjU3NjgxOTBhYjA4M2U3MTRlMTU5OTIyIiwiaW50ZXJuYWxfc2VjcmV0IjoiYzIxNGIzYjEtZjlkNy00ZDQzLTljNmQtZWVhOGU3YzQ2YWM1In0.eBGu64snjwLJhSsE_-2gTaoN_gGt48o4QFGOH1L3rc4"
